body {
	 font-family: Georgia, "Times New Roman";
  	 color: gray;
  	 background-color: #2E2E2E
}

div.rec
{
  background-color: black;
  text-align: center;
  width: 1040px;
  height: 400px;
  border: 2px solid 
}

footer
{
	background:	#434343;
	border-top: 1px;
	color: white;
	padding: 10px;
	text-align:center;
}

