<center>
<img src="myhwlogo.png" alt="hello world logo">
<center>

<link rel="stylesheet" type="text/css" href="mystyle.css" />
<br/>
<body bgcolor="#2E2E2E" >

<div class="rec"> 		
  <h2 style="color: White"><center>Welcome to my first rails website</center></h2>
 
  <table width="1020">
<tr valign= "top">
<td style="width:300px; text-align:top;">
	<h2 style="text-decoration: underline;">Author</h2>
	<p>My name is Sheldon Hon. I am an honours student </br> studying IT at the University of Johannesburg (<a href="http://www.uj.ac.za/EN/Pages/Home.aspx" target="_blank">UJ</a>).
		This hello </br> world website is part of my WWW programming </br>subject. The first of many more to come!
	</p>
	<img src="wwwprog.png" alt="WWW programming ROCKS">
</td>
	<td style="align:left; height:200px; width:300px; ">
	<h2 style="text-decoration: underline;">Student details</h2>
	<center>
  	<table cellpadding="6">
	<tbody align="left">
		<tr><td>Student no.:   <td>200901691
		<tr><td align="right">Course: <td>IT00230
		<tr><td align="right">Subjects:<td>e-Business Strategy
		<tr><td><td>Information Security
		<tr><td><td>Project Management
		<tr><td><td>WWW programming
	</table>
	</center>
	</td>
</tr>
</table>

<br/><br/>
<br/><br/>

<footer>
<section> Last updated 12-2-2012 @ 01:50 </section>
</footer>